// Variables
@import "variables";
@import "breakpoints";


html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

*::before,
*::after {
    box-sizing: border-box;
}

section {
    padding: 1rem 3rem;
    box-sizing: border-box;

    @include breakpoint-up(md) {
        padding: 5rem 7rem;
    }
}

.text-red {
    color: $red;
}

.bold {
    font-weight: 800;
}

.first_section {
    position: relative;
    padding: 5rem 10vw 0;
    height: 100vh;
    background-image: url('./images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow-y: hidden;

    .left,
    .right {
        @include breakpoint-up(md) {
            height: 100%;
            width: 50%;
        }
    }

    .left {
        text-align: center;

        @include breakpoint-up(md) {
            text-align: left;
        }

        .logo {
            width: 80%;
            max-width: 200px;

            @include breakpoint-up(md) {
                width: 50%;
            }
        }

        .name {
            width: 80%;
            max-width: 200px;
            margin: auto;

            svg:nth-child(1) {
                width: 100%;
            }

            svg:nth-child(2) {
                width: 50%;
            }

            @include breakpoint-up(md) {
                width: 100%;
                margin: 0;
                max-width: 300px;
            }
        }
    }

    .human {
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 200px;
        transform: translateX(-50%);

        @include breakpoint-up(md) {
            left: unset;
            right: 10%;
            transform: translateX(0);
            width: 300px;
        }
    }
}
